.modal {
    position: fixed;
    top: 40vh;
    left: 40vw;
    // transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 1001; // Поверх затемнения
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 300px;
      color: black;
    }

    .closeButton {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }
  
  // Затемнённый фон
  .modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); // Полупрозрачный чёрный фон
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // Чуть ниже модалки
  }
  