.windowBlock {
    border: 2px dashed #4f6ff5;
    border-radius: 12px;
    padding: 20px 16px 40px 16px;
    max-width: 268px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
    //   margin-bottom: 12px;
    padding: 0 10px;
  
      h3 {
        font-size: 20px;
        font-weight: 600;
        color: #333;
        margin: 0px 0;
      }
  
      .closeButton {
        background: none;
        border: none;
        // font-size: 20px;
        cursor: pointer;
        color: #4f6ff5;
        transition: color 0.2s ease-in-out;
        padding: 0;
        &:hover {
          color: #0033cc;
        }
      }
    }
  
    .inputs {
      display: flex;
      justify-content: space-between;
      gap: 12px;
  
      .inputGroup {
        display: flex;
        flex-direction: column;
        gap: 10px;
  
        label {
          font-size: 14px;
          color: #333;
          text-align-last: left;
        }
  
        input {
          width: 70px;
          height: 25px;
          padding: 8px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 6px;
          text-align: center;
          outline: none;
          transition: border-color 0.2s ease-in-out;
  
          &:focus {
            border-color: #4f6ff5;
          }
        }
      }
    }
  
    @media (max-width: 480px) {
      .windowBlock {
        // padding: 10px;
        min-height: 200px;
      }
      .inputs {
        // flex-direction: column;
        align-items: center;
        
        .inputGroup input {
          width: 80%;
        }
      }
    }
  }
  